
/*body {background: url("../image/bg_color01_01.jpg") repeat-x scroll center 0 transparent;}
body.home_page{background: url(../image/bg_index_color01_01.jpg) no-repeat center 0;	}
*/
.boss_header_top{
	background-color:#0f8b92;
	color:white;
}
.language_currency{width:auto; float:right; margin-top:-4px}

#header-links { float:left; color:#fff; margin-top:9px; font-size:11px;margin-left:10px;}
a, a:visited,a {color: white; outline: medium none; text-decoration: none; cursor:pointer}
a:hover {text-decoration:underline;}
 
.boss_header_bottom{
	background: url(../image/banner.jpg) no-repeat center 0;
	height:190px;
}

#footer{
	background-color:#0f8b92;
	color:white;
	padding:5px 0 5px 0;
	pading-top:0px;
}
#footer-links { float:left; color:#fff; font-size:11px;margin-left:10px;}
#footer-links-right {
	float:right;
	padding-right:5px;
}

#column-left {
background-color:#fcf9e7;
height:500px;
width:278px;
}

.ver-menu {
	padding-left:25px;
	background:transparent url(../image/ver-bg.png) repeat-y;	
}

.ver-menu div{
	background-image:url(../image/bullet-lautan.png);
	background-repeat: no-repeat;

	width:80%;
	background-position:left; 
	padding-top:18px;
	padding-left:25px;
	padding-bottom:15px;
	border-bottom:thin solid white;
	border-bottom-width:3px !important;
}

.ver-menu div.active{
	background-image:url(../image/bullet-lautan-active.png);
}
.ver-menu div.last{
	border-bottom-width:0px !important;
}

.tab-content-information{
	padding-top:350px;
}

.htabs a {
	background:url(../image/tab-content-left.png) no-repeat left; padding-right:0; display:inline-block; height:52px; color:#fff; font-size:14px; font-family:Tahoma; text-decoration:none;
}
.htabs a span{background:url(../image/tab-content-right.png) no-repeat top right; padding:0 15px 0 15px; height:69px; line-height:69px; display:inline-block}
.htabs a span b{
	font-weight:1000;
	background:url(../image/tab-content-middle.png) repeat-x top; height:69px;line-height:69px; display:inline-block;}

.htabs a.selected {
	background:url(../image/tab-content-left-active.png) no-repeat left; padding-left:5px; padding-right:0; display:inline-block; height:69px; color:#013971; font-size:14px; font-family:Tahoma; text-decoration:none
}
.htabs a.selected span{background:url(../image/tab-content-right-active.png) no-repeat right; padding:0 20px 0 15px; height:69px; line-height:69px; display:inline-block}
.htabs a.selected span b{background:url(../image/tab-content-middle-active.png) repeat-x bottom; height:69px; display:inline-block;}
.lautan_button input{
	background-color:#5b8fb9;
	text-transform:uppercase;
	font-weight:bold;
	color:white;
}
div.contact-info{
	color:white;
	font-size:18px;
	line-height:1.5em;
	color:#999999;
}

@media only screen and (max-width: 767px) {	 
	     body{-webkit-text-size-adjust: none; font-size:14px; background:url(../image/bg_other_mobile_blue.jpg) no-repeat center 0}
		 body.home_page{background:url(../image/bg_mobile_blue.jpg) no-repeat center 0}
		 #header #welcome{border-bottom:1px solid #0090c3}
		 }