#column-left {
	display:block;
	
}

#content {
	
}

#footer {
	
}
.ver-menu {

	width:100%;
}
div.select-menu{
	display:inline-block;
	color: blue;	
	float:left;
	margin-left:0px;
	left:0;
}

div.select-menu select{
	display:inline;
		
	width:200px;
}
div.select-menu select{
	display:none;
	
}


@media only screen and (max-width:959px) {
.boss_header_top,
.boss_header_bottom
{
	width:102%;
}
div.select-menu select{
	display:inline;

}
	#header-links{	
		width:200px;
	}
	
	#column-left-temp {
		clear:both;
	}
	#logo{
			/*width:28.4375%;*/
			width:100%;
			/*background:transparent url(../image/lautanlogo.png) repeat-x left 0;*/
		}
#logo img{
		width:100%;
		height:213px;
		}
		#header-top-static{
			display:none;
		}
}

@media only screen and (min-width:960px) {
	#header-links{	
		width:500px;
	}
}

@media only screen and (max-width: 767px) {
.boss_header_top,
.boss_header_bottom
{
	width:100%;
}
}
