@media only screen  {
		 
		div.select-menu { display: none; }
	}
/* Bigger then standard 960px (1280px) */
	@media only screen and (min-width: 1280px) {
		div.ver-menu { display: inline-block; } 
		div.hor-menu { display: inline-block; }
		div.select-menu { display: none; }
		
	}
	
/*ipad 2 ngang*/
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
		
	}
	
/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	#blank{
	display:none;
	}
#logo{
	/*width:28.4375%;*/
	width:28.4375%;
}

#header-top-static{
	background:transparent url(../image/banner.jpg) no-repeat center 0;
	height:213px;
	width:71.5625%;
	 margin-left:0 !important;
}
.tab-content-information{
	margin-top:10px;
}

.htabs a { 
	padding-right:0; 
	display:inline-block; 
	height:20px; 
	color:black;
	fontw-weight:normal;
	background:none;
	
	font-size:11px; 
	font-family:Tahoma; 
	text-decoration:none;
}
.htabs a span{
	height:20px;
	display:inline-block;
	background:none;
}
		
.htabs a span b{
	font-weight:1000;
	height:20px;
	display:inline-block;
	background:none;
}

.htabs a.selected {	 
	padding-left:5px; 
	padding-right:0; 
	display:inline-block; 
	height:20px;
	color:#013971; 
	font-size:11px; 
	font-family:Tahoma; 
	background:none;
}
		
.htabs a.selected span{ 
	padding:0 10px 0 5px; 
	display:inline-block;
	background:none;
}
		
.htabs a.selected span b{
	height:20px;
	display:inline-block;
	background:none;
	font-weight:bold;
	text-decoration:underline;
}
		
#header-links{
			margin-top:2px;
			margin-left:5px;
		}
		select {
			width:100%;
		}
		#column-left{
			clear:both;
			width:100%;
			height:29px !important;
		}
		#content{
			clear:both;
		width:100%;
		}
		#footer-links span{
			display:block;
			white-space:yes;
		}
		
		#footer-links-right{
			float:left;
			padding-left:10px;
		}
		
		div.ver-menu { display: none; } 
		div.hor-menu { display: none; }
		div.select-menu { display: inline-block; float:right;margin:2px;}
		div.column-left{
			text-align:right;
		}
	}
	
/* Tablet Portrait size to standard 960 (devices and browsers) 768x959  ipad doc*/
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
#logo img{
			max-height:213px;
		}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) ipod ngang 480*/
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 360x640 */
	@media only screen and (max-width: 479px) { 
		#logo{
			/*width:28.4375%;*/
			width:100%;
			/*background:transparent url(../image/lautanlogo.png) repeat-x left 0;*/
		}
		#logo img{
		width:100%;
		max-height:213px;
		}
		#header-top-static{
			display:none;
		}
		
	} /*----------------------- end max-width: 479px --------------------------------*/

	/* 320x480*/
	@media only screen and (max-width:320px) {


}